.containeer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: antiquewhite;
}
.pro{
   width:250px;
   border: 1px solid gray;
   text-align: center;
   padding: 10px;
   background-color:white;
   font-size: 20px;
}
.contain{
    border: 1px solid;
    position: relative;
    width: 270px;
    right: 11px;
    bottom: 11px;
    background-color: red;
    color: white;
}
.basic,.Premium {
    border: 1px solid gray;
    width: 250px;
   text-align: center;
   padding: 10px;
   background-color:white;
   font-size: 20px;
   
}

button{
     background-color: red;
     width: 100px;
     height: 40px;
     border-radius: 10%;
     color: white;
}
.basic:hover,
.pro:hover,
.Premium:hover {
    transform: scale(1.05);
    }

